.ipynb_checkpoints/
.ipynb_checkpoints
ipynb_checkpoints
__pycache__/
/__pycache__/
.vscode/
.vscode
poetry.lock
./inference/test.ipynb
/tmp/
scripts/
local_scripts/
.pytest_cache/
../model_training/data/